{% load static %}
<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/Roylco.png' %}" alt="" width="250" height="70">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item me-3">
                    <a class="nav-link active fs-4" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link fs-4" href="{% url "order_entry" %}">Order Entry</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link fs-4" href="{% url "customer_index" %}">Customer Index</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link fs-4" href="#">Product Index</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link fs-4" href="#">Tool Organizer</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
